body {
  background-color: #336600;
}
#toggler {
  font-size: 20px;
  background-color: #E5E4D7;
}
#a1 {
  background-color: #92CD00;
}
#a2 {
  background-color: #92CD00;
}
#a3 {
  background-color: #92CD00;
}
