body { 
        background-color: #C3A9A9;
}
#PE {
	font-size: 25px;
}
#WebDesign {
	font-size: 25px;
}
#Khmer3 {
	font-size: 25px;
}
#History10 {
	font-size: 25px;
}
#Science10 {
	font-size: 25px;
}
#Drama {
	font-size: 25px;
}
#Algebra2 {
	font-size: 25px;
}
#Bible10 {
	font-size: 25px;
}
#container {
	width: 500px;
	border: 1px;
}
