#search-results {
  background-color: #212121;
  width: auto;
  font-size: 16px;
  font-family: monospace;
  color: white;
  border-radius: 5px;
  min-height: 500px;
  height: auto;
}

li {
  padding: 5px;
  margin-bottom: 2px;
}

a {
  color: #F7FE2E; 
}

input, textarea, select, button {
  width : 220px;
  padding: 7px;
  margin: 0;
  box-sizing: border-box;
  border: 1px dotted #999;
  border-radius: 0;
  font-family : inherit;
  font-size   : 100%;
}

#search-box {
  margin-bottom: 20px;
}
