body {
    background-image: url("New document 1.2015_09_29_10_40_59.0.svg");
    background-color: #cccccc;
}

#title{
  font-size: 25px;
  text-align: center;

}
#Paragraph {
  min-height: 10px;
  box-shadow: 7px 11px 23px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1.5px solid white;

margin-left: auto;
margin-right: auto;

}
#doge{
  text-align: center;
}
