#signupbutton{
  color: #659d50;
}

h1{
  font-size: 40px;
  margin-bottom:5px;
}

h2{
  font-size: 20px;
  margin: 0px;
}

body{
  width: 500px;
}

#input{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.firstname{
float: left;
}


#month{
  float: left;
}

#day{
  float: left;
}

body {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

}
