
#guestbook-form
{
  margin: 20px;
  padding: 10px;
  margin: auto;
}
#container{
  background-color: #ff8080;
}
button{
  background-color: #659d50;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-left: 100px;
}
.form-control{
  margin: 10px;
}

#form-controls {
  width: 465px;
  margin: auto;
  overflow: auto;
}

input, textarea, select, button {
  width : 220px;
  padding: 7px;
  margin: 0;
  box-sizing: border-box;
  border: 1px dotted #999;
  border-radius: 0;
  font-family : Verdana;
  font-size   : 100%;
  border: 2px solid #888;
}

input[name=email], textarea[name=comment]
{
  width: 444px;
}

input[type=submit]
{
  float: right;
  margin: 10px;
  clear: both;
}
