body{
  background-image: url(need.jpg);
}
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  background-color: #ffd9b3;
  padding: 10px;
  text-align: center;
}
  img {
      position: absolute;
      left: 200px;
      top: 350px;
      z-index: -1;
  }

}
